<div class="entry">
    <div class="box-item">
        <img ng-src="{{$ctrl.imageIcon}}" class="-icon" />
        <span class="-label">{{$ctrl.entry.buildNum}}</span>
    </div>
    <div class="box-item">{{$ctrl.entry.owner}}</div>
    <div class="box-item">{{$ctrl.entry.startTime}}</div>
    <div class="box-item">{{$ctrl.entry.status}}</div>
</div>
<div ng-if="$ctrl.entry.results"
     ng-show="$ctrl.opennedItemBuild === $ctrl.entry.buildNum"
     class="results-box">
    <div class="resultsbox-item metrics">
        <strong>Metrics</strong>
        <div class="metric-box">
            <div class="labels">
                {{$ctrl.entry.results.metrics.test}}<br>
                Test
            </div>
            <div class="labels">
                {{$ctrl.entry.results.metrics.maintainability}}<br>
                Maintainability
            </div>
            <div class="labels">
                {{$ctrl.entry.results.metrics.security}}<br>
                Security
            </div>
            <div class="labels">
                {{$ctrl.entry.results.metrics.workmanship}}<br>
                Workmanship
            </div>
        </div>    
    </div>
    <div class="resultsbox-item">
        <div><strong>Build</strong></div>
        <div class="build-box">
            <div>
                <span class="spanicon"><object type="image/svg+xml" data="./assets/imgs/computericon.svg" class="-svgicon"></object></span>
                Debug
            </div>
            <div>
                <span class="spanicon"><object type="image/svg+xml" data="./assets/imgs/computericon.svg" class="-svgicon"></object></span>
                Release
            </div>
            <div class="build-time">
                {{$ctrl.entry.results.build.time}}
            </div>
        </div>   
    </div>
    <div class="resultsbox-item">
        <strong>Unit Test</strong>
        <div class="unit-box">
            <div class="content">
                <h1>
                    {{$ctrl.entry.results.unit_test.passed}}%<br>
                    <h3>tests passed</h3>
                </h1>
            </div>
            <div class="uncovered_unit_test">
            <div class="covered_unit_test">
                {{$ctrl.entry.results.unit_test.covered}}%<br>
                code covered
            </div>            
        </div>        
    </div>
</div>